/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
 	margin: 0;
 	padding: 0;
 	box-sizing: border-box;
 }
 h1,p,span,table,h2,li{
 	font-family: verdana, arial, helvetica, sans-serif;
 	color: #333333;
	}
p,span{
	line-height: 18px;
	font-size: 13px;
}
.top p, .show p{
	margin: 33px;

}
strong{
	font-weight: bold;
}
/*top*/
.edit,.index,.top,.show,ul{
	margin: 33px;
	line-height: 18px;
}
h1{
	font-size: 26px;
	margin: 17.42px 0;
	line-height: 18px;
}
/*error*/
h2,li{
	font-size: 12px;
}
h2{
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	margin: -7px;
	margin-bottom: 0;
	background-color: #c00;
	color: #fff;
	text-align: left;
}
ul{
	padding-left: 40px;
}
.error_explanation{
	width: 468px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}
/*error*/

input{
	padding: 1px;

}
textarea{
	padding: 2px;
}
.notice{
	color: green;
	margin: 33px;
	font-size: 13px;
}
/*top*/

/*show*/
.show,.edit {
	font-size: 0;
}
/*show*/

/*edit*/
.edit p{
	margin-bottom: 10px;
}
/*edit*/

/*index*/
table{
	font-size: 13px;
}
.newbook{
	font-size: 19.5px;
	margin: 16.5px 0;
}
th{
	padding: 1px 1px 5px;
}
td{
	padding: 1px 5px 7px;
}
h3{
	font-size: 13px;
}

